*{
    font-family: 'Baloo Bhai 2', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
#second {
    font-size: 20px;
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
  
}

header {
    color:#ffffff;
    background-image: url(https://i.pinimg.com/originals/99/82/8e/99828e67aeb65cb6b937ee03bafa5aab.png);
    height: 435px;
    margin: 0px;
    
}
nav, footer {
    
    background-color: rgb(131 220 216);
    margin: 0px;
    font-size: 25px;
    overflow: auto;
    height: 56px;
}
.bold{
    font-weight:bolder;
}
.italic{
    font-style: italic;
}
nav a, footer a {
    color:rgb(15, 8, 8);
    margin : 70px;
    text-decoration: none;
    font-weight:bold;
    padding: 5px;
    
}
nav a:hover, footer a:hover {
    color: rgb(6, 5, 7);
    background-color:  rgb(186 245 242);
    border: 2px solid rgb(195, 195, 253);
    border-radius: 5px;
    
}
h2 {
    
    font-size: 40px;
    background-color: cadetblue;
    text-align: center;
}
h1#hii {
    margin: 0px;
    text-align: right;
    width:500px;
    font-size: 111px;
    display: inline;
    text-shadow: 37px 23px 9px rgb(0 0 0 / 30%);
    
}
#img{
    width: 205px;
    display: inline;
}
#secodd {
    background-color: rgb(204, 204, 252);
}
#seceven {
    background-color: rgb(219, 253, 253);
}
#social {
    margin: 10px 10px 10px 100px;
    
}
.smedia{
    margin-right: 10px;
}
iframe {
    margin: 15px;
}
iframe.last {
    margin-right: 0px;
}
#see{
    border: 2px solid rgb(76, 0, 255);
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(135, 135, 252);
    color: white;
    border-radius: 20px;
   float: right;
   margin-top: 15px; 
}
   #see:hover {
    background-color: rgb(169, 169, 253) ;

}
footer {
    margin-top: 10px;
}
aside{
    float: right;
    margin: 10px 10px 10px 10px;
    }
#second {
    height: 230px;
}
a:active {
    background-color: rgb(253, 73, 2);
}
  nav li{
      float:left;
      list-style: none;
      padding: 8px;
   
  }
  .image {
    height: 300px;
    margin-top: 10px;
  }
  #imgcp {
   width: 500px;
   height: 300px;
  }
  #photosection {
 background-color: rgb(218, 220, 255);
 
  }
  #imgraavan {
      margin: 0px 15px;
  }